{#{% extends "layout.html.twig" %}

{% block title "Admin rubriques" %}#}
    
{% for picture in pictures %}
    <div class="text-center">
        id : {{ picture.id }}<br>
        users_id : {{ picture.users_id }}<br>
        title : {{ picture.title }}<br>
        photo : {{ picture.photo }}<br>
        <img src="{{ asset('img/') }}{{ picture.photo }}" alt="{{ picture.title }}" style="width:40%; height: 20%"><br>
        header : {{ picture.header }}<br>
        content : {{ picture.content }}<br>
        date_record : {{ picture.date_record }}<br>
        date_picture : {{ picture.date_picture }}<br>
        country : {{ picture.country }}<br>
        city : {{ picture.city }}
    </div>
    
{#    <a href="{{ path('article_index', {id: article.id}) }}">Voir</a>#}
    
    {% if not loop.last %}
        <hr>
    {% endif %}
    
{% endfor %}


{#<div class="media">
        
    <div class="media-left">
        <img src="' . URL . 'photo/' . $article['photo'] . '" class="media-object" style="width:60px">
    </div>';

    <img src="' . URL . 'photo/' . $photo_actuelle . '" alt="img-thumbnail" width="210">';

    <div class="media-body">
        <h4 class="media-heading">' . $article['titre'] . ' <small> à ' . $article['prix'] . ' €, reste ' . $article['stock'] . ' en stock</small></h4>
        <p>' . $article['description'] .'</p>
        <p>' . $article['couleur'] . ' ' . $article['taille'] . ' ' . $article['categorie'] . '<br><a href="fiche_article.php?id_article=' . $article['id_article']  . '" class="btn btn-primary">voir la fiche article</a></p>
    </div>

</div>#}