{#{% extends "layout.html.twig" %}#}

{% block content %}

    {#{{ render(url('article_list')) }}#}
    {#{% include 'article_list.html.twig' %}#}
    <div class="container-fluid">
        
        <h1 class="display-1 text-center homepage">PictStories</h1>
        <p class="lead text-center">
            stocke tes <b>Photos</b>, crée tes <b>Albums</b>,<br>
            profite de notre <b>Moteur de Stories</b> et de notre <b>Timeline Classification</b>.
        </p>
     
        <h2 class="display-5 text-center">inscris-toi pour démarrer</h2>
        
        <form method="post">
            <div class="form-row justify-content-md-center">
                <div class="form-group col-md-3 col-offset-3">
                  <input type="email" name="emailcreate" value="{{ emailcreate }}" class="form-control" placeholder="ton email">
                </div>
                <div class="form-group col-md-3">
                  <input type="password" name="password" class="form-control" placeholder="ton mot de passe">
                </div>
            </div>
            <div class="form-row justify-content-md-center">
                <div class="form-row col-md-6 col-offset-3">
                    <button type="submit" name="create" value="create" class="btn btn-primary btn-block">C'est parti !!!</button>
                </div>
            </div>
        </form>
        
        <p class="display-5 text-center">déjà membre...</p>
        
        <form method="post">
            <div class="form-row justify-content-md-center">
                <div class="form-group col-md-3 col-offset-3">
                  <input type="email" name="emaillogin" value="{{ emaillogin }}" class="form-control" placeholder="ton email">
                </div>
                <div class="form-group col-md-3">
                  <input type="password" name="password" class="form-control" placeholder="ton mot de passe">
                </div>
            </div>
            <div class="form-row justify-content-md-center">
                <div class="form-row col-md-6 col-offset-3">
                    <button type="submit" name="login" value="login" class="btn btn-success btn-block">Connectes toi</button>
                </div>
            </div>
        </form>
        
        
        {#<img src="{{ asset('img/map.jpg') }}" alt="Map monde" style="margin:auto; width:100%; display:block; opacity:.25;">#}
        <div class="bg">
        
            <!-- Afficher les photos -->
            {#{% for picture in pictures %}
                <h2>{{ picture.title }}, <small>id : {{ picture.id }}, users_id : {{ picture.users_id }}</small></h2>
                <p>Cette photo a été prise en <b>{{ picture.date_picture }}</b><br>
                <p>
                    dans la ville de <b>{{ picture.city }}</b><br>
                    qui se trouve aux <b>{{ picture.country }}</b><br>
                    Vous l'avez insérée en BDD le <b>{{ picture.date_record }}</b><br>
                    le lien de la photo : <b>{{ picture.photo }}</b>
                </p>


                {% if not loop.last %}
                    <hr>
                {% endif %}

            {% endfor %}#}
        </div> 
        
        <!-- Modal -->
        {#<div class="row justify-content-md-center">
            <div class="col-md-6 col-md-offset-3">
                <label>déjà membre...</label>
                <button type="button" class="btn btn-success btn-block" data-toggle="modal" data-target="#myModal">
                    Connectes toi
                </button>
            </div>
        </div>#}
        
        <!-- Modal -->
        {#<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Connexion</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                  <p>placer les input</p>
                  <form method="post" action="">
                    
                      <input type="email" name="emaillogin" value="{{ emaillogin }}" class="form-control" placeholder="ton email">

                      <input type="password" name="password" class="form-control" placeholder="ton mot de passe">
                  
                  </form>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                <button type="submit" name="login" value="login" class="btn btn-primary">Valider</button>
              </div>
            </div>
          </div>
        </div>#}
    
    </div><!-- container -->
    
    
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/modal_connexion.js') }}"></script>
{% endblock %}
